/* Base accordion styles */
.wrapper-accordion {
    display: flex;
    height: 588px;
    width: 100%;
    overflow-x: hidden;
}

.accordion {
    position: relative;
    flex: 0 0 238px;
    transition: flex-basis 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: flex-basis;
    cursor: pointer;
}

.accordion.active {
    flex: 0 0 466px;
}

.card-container {
    display: grid;
    grid-template: 1fr / 1fr;
    height: 100%;
}

.image-layer,
.content-layer {
    grid-area: 1 / 1;
}

.image-layer {
    height: 100%;
}

.image-layer img {
    width: 100%;
    height: 100%;
}

.gradient-overlay {
    grid-area: 1 / 1;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.6)
    );
}

.content-layer {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* padding: 1.5rem; */
    justify-content: flex-end;
}

.accordion.active .content-layer {
    padding: 1.5rem;
}

.tag-arrow {
    position: absolute;
    top: 12px;
    right: 20px;
    padding: 8px 12px;
    z-index: 3;
    background-color: #ffdd26;
    border-radius: 100%;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, background-color;
}

.text-description p {
    @apply line-clamp-2;
}

.accordion.active .text-description p {
    @apply line-clamp-none;
}

.description {
    display: none;
    opacity: 0;
    transform: translate(-10px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: opacity, transform;
}

.accordion.active .description {
    display: block;
    padding: 0;
    opacity: 1;
    transform: translateX(0);
}

/* States */
.tag.inactive,
.tag-arrow.inactive {
    background-color: #828282;
}

.tag-arrow.inactive {
    transform: rotate(-45deg);
}

/* Mobile Styles */
@media (max-width: 1024px) {
    .wrapper-accordion {
        height: auto;
        flex-direction: column;
        gap: 1rem;
        overflow: visible;
        padding: 0;
    }

    .accordion {
        height: 270px;
        flex: none;
        transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        will-change: height;
    }

    .accordion.active {
        height: 400px;
        flex: none;
    }
}

@media (max-width: 411px) {
    .accordion.active .content-layer {
        padding: 0 24px 0 24px;
        height: 100%;
    }

    .content-layer {
        height: calc(100% + 100px);
    }
}
@media (min-width: 412px) and (max-width: 599px) {
    .content-layer {
        height: calc(100% - 200px);
    }
}
@media (min-width: 600px) and (max-width: 766px) {
    .accordion {
        height: 300px;
    }

    .accordion.active {
        height: 500px;
    }
    /* .content-layer {
        height: calc(100% - 450px);
    } */
}
@media (min-width: 767px) and (max-width: 968px) {
    .wrapper-accordion {
        gap: 2rem;
        padding: 0 30px;
    }

    .accordion.active {
        height: 500px;
    }

    .accordion.active .content-layer {
        padding: 0 24px 0 24px;
        height: 100%;
    }

    .content-layer {
        height: 32lvh;
    }
}

@media (min-width: 968px) and (max-width: 1024px) {
    .wrapper-accordion {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .accordion {
        width: calc(50% - 1rem);
        height: 300px;
    }

    .accordion.active {
        height: 400px;
    }
    .content-layer {
        height: calc(100% - 250px);
    }
}
