.card,
.card img {
    transition: all 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover img {
    transform: scale(1.1);
}

.card .background-transparent {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tag {
    z-index: 3;
    position: absolute;
    top: 12px;
    left: 0;
    background-color: #ffdd26;
    padding: 4px 16px;
    min-height: 26px;
    min-width: 92px;
    pointer-events: none;
}
