.swiper-container {
    overflow: hidden;
    margin: 0 auto;
}

.swiper-slide {
    transition: transform 0.6s ease-in-out;
}

.swiper-wrapper {
    height: auto !important;
}

.navigation-popular-destination .swiper-button-next,
.navigation-popular-destination .swiper-button-prev {
    position: absolute;
    transform: translateY(50%) !important;
    top: 65% !important;
}

.navigation-popular-destination .swiper-button-prev {
    display: none;
    left: 50px !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.navigation-popular-destination .swiper-button-next {
    right: 50px !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.swiper-about-us .swiper-button-prev,
.swiper-about-us .swiper-button-next {
    width: auto !important; /* Menimpa pengaturan width dari Swiper */
    height: auto !important; /* Menimpa pengaturan height dari Swiper */
    margin-top: 0 !important; /* Menghapus margin atas */
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-services button::before {
    content: "";
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease;
    background-color: var(--primary-400);
}

.swiper-services .swiper-slide {
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
}

@media (max-width: 1280px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}

/* @media (max-width: 968px) {
    .swiper-button-prev {
        left: -50px !important;
        display: block;
    }

    .swiper-button-next {
        right: -50px !important;
        display: block;
    }
} */

/* @media (max-width: 768px) {
    .swiper-button-prev {
        display: block;
        left: 20px !important;
    }

    .swiper-button-next {
        right: 20px !important;
    }
} */

@media (max-width: 480px) {
    /* .swiper-button-prev,
    .swiper-button-next {
        left: auto;
        right: auto;
        transform: translateY(0);
        position: static;
        margin: 10px;
    } */
    .swiper-open-trip .swiper-slide {
        width: 328px;
        height: 360px;
    }
}
